body {
    margin: 60px 180px;
    background-color: #F8F6F2;
    font-family: 'Merriweather', serif;
    color: #50808E;
}

header {
    margin-bottom: 40px;
}

div {
    margin: 10px 0px;
    padding: 1px 20px;
    width: 600px;
}

a {
    color: #5E503F;
}

h1 {
    color: #0F171A;
}

.picture {
    border-radius: 10px;
    margin: 10px 50px 20px 20px;
    height: 150px;
    float: left;
    padding: 2px;
    background-color: #50808E;
}

.profile {
    text-align: center;
}

div ul:nth-of-type(1) li:nth-of-type(odd) {
    font-style: italic;
}

.teal-div {
    border-radius: 10px;
    background-color: #50808E;
    color: #EAE0D5;
}

.teal-div a {
    color: #EAE0D5;
}

.emphasis {
    font-size: 18px;
}